params.work_dir      = '/data1/B_Li/vfdb/workflow_clade'
params.vf_list       = "${params.work_dir}/core_VF.csv"
params.label_csv     = '/data1/B_Li/vfdb/vfdb_95_output.csv'
params.align_script  = "${params.work_dir}/alignment.py"
params.trait_file    = "${params.work_dir}/trait.csv"
params.split_script  = "${params.work_dir}/split_alignment.py"
params.dnds_script   = "${params.work_dir}/two_mode_test.py"
params.sanitize_script = '/data1/B_Li/vfdb/workflow/sanitize_fasta.sh'

process {
  executor = 'local'

  // You already run TranslatorX from your current env; keep conda off
  withName: 'TRANSLATORX' {
    conda = null
  }
}

// Globally turn off Conda env creation
conda {
  enabled = false
}


conda {
  enabled = true
}

timeline {
  enabled = true
  overwrite = true
  file = "${params.work_dir}/.reports/timeline.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.work_dir}/.reports/trace.txt"
}
report {
  enabled = true
  overwrite = true
  file = "${params.work_dir}/.reports/report.html"
}
